body {
  background-color: black;
  color: white;
}

.nav {
  overflow: hidden;
  background-color: grey;
}
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background-color: black;
}

#rcorners3 {
  color: white;
  border-radius: 25px;
  background-color: grey;
  background-position: middle;
  background-repeat: repeat;
  padding: 20px;  
}
